@page
@model Razor.Admin.Role.EditModel
@{
}
<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Organic Information</p>
						<h1>Edit Role</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="row m-lg-5">           
    <div class="form-holder ">
        <div class="form-content">
            <div class="form-items">
                <h3>Update Role</h3>
                    <hr>
                    <partial name="_StatusMessage" model = "@Model.StatusMessage"></partial>
                    <form  method="post" class="requires-validation" enctype="multipart/form-data">

                        <div class="col-md-12">
                            <input asp-for="Input.Name" class="form-control" placeholder="Tên Role">
                        </div>
                        <br>
                        <div class="form-button mt-3">
                            <button type="submit" class="btn btn-outline-primary m-3">Đổi</button>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                    </form>
            </div>
            <p> Các Claim : (Đặc tính của Roles):
                <a asp-page ="./Claims/AddClaimsMode" asp-route-role_Id ="@Model.identityRole.Id"> +Thêm Claim</a>
            </p>
            <ul>
                @if(Model.identityRoleClaims.Count() > 0){
                    foreach (var item in Model.identityRoleClaims)
                    {
                        <a asp-page="./Claims/EditClaimsMode" asp-route-Claim_Id ="@item.Id" ><li> @item.ClaimType : @item.ClaimValue</li></a>
                    }

                }
            </ul>
        </div>
    </div>
</div>
</div>
