@page
@model Razor.Pages_Admin_Products.CreateModel
@using Razor.model
@{
    var Kho = ViewData["MaKho"] as List<Kho>;
      
}
<head>
	<title>Tạo Sản Phẩm Mới</title>
   
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="~/css/Create.css">
</head >
<div class="form-body" style="background-image: url('https://i.quantrimang.com/photos/image/2018/04/13/hinh-nen-toi-mau-cho-may-tinh-1.jpg' );
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3 class="text-danger">Thêm Sản Phẩm</h3>
                        <hr>
                        <form method="post" asp-page="Create" class="requires-validation" enctype="multipart/form-data">

                            <div class="col-md-12">
                                <input asp-for="Product.Name" class="form-control" placeholder="Tên Sản Phẩm">
                            </div>
                            <br>
                           <div class="col-md-12">
                                <select asp-for ="Product.MaKho" class="form-select mt-3" required>
                                      <option selected disabled value="">Kho Chứa</option>
                                      
                                        @foreach (var item in Kho)
                                        {
                                            <option value="@item.MaKho">@item.TenKho</option>                                 
                                        }
                                      
                                      
                               </select>
                           </div>
                           <br>
                           <div class="col-md-12 mt-3">

                            <label asp-for="Product.Price"></label>
                            <input asp-for="Product.Price" type="number" class="btn-check"/>
                                                      
                            <label asp-for="Product.SoLuong"></label>
                            <input asp-for="Product.SoLuong" type="number" class="btn-check"/>
        
                            <label asp-for="Product.sold"></label>
                            <input asp-for="Product.sold" type="number" class="btn-check"/>
                            <hr>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="@Model.fileUploads"></label>
                                <br>
                                <input asp-for="@Model.fileUploads" />
                            </div>
                            <div class="form-button mt-3">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <button type="submit" class="btn btn-lg btn-outline-primary">Nhập</button>
                            </div>
                            <h3>@ViewData["Hash1"]</h3>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>