@page
@model Razor.Pages_Admin_Products.IndexModel
@using Razor.model
@{
	var paging = new Razor.Helper.PagingModel();
	paging.currentPage = Model.currentPage;
	paging.countPages = Model.countPages;
	paging.GetFunc = (int? p ) =>Url.Page("/Admin_Products/Index",new {p= p});

}
  <head>
  	<title>Thông Tin Các Sản Phẩm</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
	<link rel="stylesheet" href="~/css/Admin_Product.css">

</head>
	<body  style="background-image: url('https://vnn-imgs-f.vgcloud.vn/2020/09/24/18/tranh-cai-an-hoa-qua-truoc-hay-sau-bua-an-da-co-cau-tra-loi.jpg');">
	<section class="ftco-section">
		<div class="container">
			@if(Model.Product.Count == 0){
			}
			else{
				<div class="row justify-content-center">
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-wrap">
							<table class="table">
							<thead class="thead-primary">
								<tr>
									<th>
										<form method="get" asp-page = "./Index">
											<label for="">Tìm Kiếm</label>
											<input name="name_Product", value="">
											<button type="submit.btn-outline-primary" >Tìm</button>
										</form>
									</th>
									<th>@Html.DisplayNameFor(model => model.Product[0].Anh1)</th>
									<th>@Html.DisplayNameFor(model => model.Product[0].Name)</th>	
									<th>@Html.DisplayNameFor(model => model.Product[0].Price)</th>
									<th>SốLương</th>
									<th>@Html.DisplayNameFor(model => model.Product[0].sold)</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<form method="post">
									@foreach (var item in Model.Product)
										{						
											<tr class="alert" role="alert">
													<td>
														<label class="checkbox-wrap checkbox-primary">
															<input type="checkbox" checked>
															<span class="checkmark"></span>
															</label>
													</td>
													<td>			
														<div class="img"><img src="~/img/Products/Product-img-@item.Name+.jpg"></div>	
													</td>
												<td>
													<span>@item.Name</span>
												</td>
												<td>@Model.SetUpMoney(item.Price) VNĐ</td>
												<td class="quantity">
													<form method="post" >
														<div class="input-group">
														<input asp-for=@item.Price type="text" name="quantity" class="quantity form-control input-number" value=@item.SoLuong min="1" max="10000">
													</div>
												</form>
											</td>
											<div class="news-text-box">
												<td>@item.sold</td>
											</div>
												<td>
													<form method="post">
														<button type="submit" asp-page="./Delete" asp-route-id="@item.MaSanPham" class="close" aria-label="Close">
															<span>
																<i class="fa fa-close"></i>
															</span>
														</button>
													</form>										
												</td>
											</tr>										
										}
										<div class="row">
											<div class="col-lg-12 text-right">
												<div  class="form-group">
													<input type="submit" value="Save" class="btn btn-primary" />
												</div>
											</div>
										</div>
									</form>
							</tbody>
							</table>
						</div>
						<br>
					</div>
				</div>
			}
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<partial name="_Paging" model="@paging"/>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>