@page
@model Razor.Pages_Admin_Products.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].SoLuong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].sold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product[0].kho)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Product) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kho.MaKho)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.MaSanPham">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MaSanPham">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MaSanPham">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
