@page 
@model Razor.Pages.SubmitModel
@{
    var kq = ViewData["value"];
}
<h1>Thêm Nhân Viên</h1>
<form method="post" asp-page="Submit" class="m-2 p-3 alert alert-danger" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for ="@Model.nhanVien.HoTen"  ></label>
        <input asp-for ="@Model.nhanVien.HoTen" class="form-control"/>
        <span asp-validation-for="@Model.nhanVien.HoTen"></span>
    </div>
    <div class="form-group">
        <label asp-for ="@Model.nhanVien.NgaySinh" ></label>
        <input asp-for ="@Model.nhanVien.NgaySinh"  class="form-control"/>
         <span asp-validation-for="@Model.nhanVien.NgaySinh"></span>
    </div>
    <div class="form-group">
        <label asp-for ="@Model.nhanVien.CMND" ></label>
        <input asp-for ="@Model.nhanVien.CMND"  class="form-control"/>
        <span asp-validation-for="@Model.nhanVien.CMND"></span>
    </div>
    <div class="form-group">
        <label asp-for ="@Model.nhanVien.SDT" ></label>
        <input asp-for ="@Model.nhanVien.SDT"class="form-control"/>
         <span asp-validation-for="@Model.nhanVien.SDT"></span>
    </div>
    <div class="form-group">
        <label asp-for ="@Model.FileUpLoads" ></label>
        <br>
        <input asp-for ="@Model.FileUpLoads"/>
        <br>
        <span asp-validation-for="@Model.FileUpLoads"></span>
    </div>
    <hr>
    <div class="form-group">
        <div asp-validation-summary="All"></div>
        <button  class="btn btn-outline-danger" type="submit">Thêm</button>
    </div>
</form>
@if(ModelState.IsValid){
    <h2 class="alert alert-primary">@kq</h2>
    
    
}
